<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Spring/SpringInactive.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>Spring/SpringJump.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{145,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,110}}</string>
        <key>sourceSize</key>
        <string>{145,110}</string>
      </dict>
      <key>Spring/SpringActive.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{145,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,57}}</string>
        <key>sourceSize</key>
        <string>{145,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Spring.png</string>
      <key>size</key>
      <string>{285,250}</string>
      <key>textureFileName</key>
      <string>Spring</string>
    </dict>
  </dict>
</plist>
